<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test thread-count="5" name="Test">
  <classes>
  <class name="com.test.test_multiply"/>
  <class name="com.test.test_divide"/>
    <class name="com.test.test_additions"/>
    <class name="com.test.test_substract"/>      
  
  </classes>
  </test> <!-- Test -->
  
  
  
  
</suite> <!-- Suite -->
